*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
}

/* DEBUG ZONE*/

.debug header{
    background-color: blue;
}
.debug .user-zone{
    background-color: aqua;
}

.debug footer{
    background-color: red;
}
/* END DEBUG ZONE*/

/* UTILITIES ZONE*/

.d-flex{
    display: flex;
}

.j-end{
    justify-content: flex-end;
}

.j-center{
    justify-content: center;
}

.a-center{
    align-items: center;
}

.flex-col{
    flex-direction: column;
}

.row{
    width: 80vw;
    margin : 0 auto;
}

.gap{
    gap: 0.5rem;
}

/* END UTILITIES ZONE*/


/* VIEW SETTING ZONE*/

.buttons{
    padding: 0.5rem;
    background-color: grey;
    border-radius: 10%;
    margin-left: 0.5rem;

}

.view-settings i{
    color: white;
}

/* END VIEW SETTING ZONE*/

/* USERS ZONE */
main{
}

.user-zone{
    width:  100vw;
    margin-top: 1rem;
    height: 100%;
    padding: 0 auto;
}

.user-card{
  max-width: 200px;
  max-height: 150px;
}

.username{
    color: white;
    background-color: #50606e;
    border: 1px solid grey;
    padding: 0.3rem;
    position: relative;
    bottom: 1.5rem;
}

.user-card img{
    width: 100%;
}
/* END USERS ZONE*/

/* FOOTER ZONE*/

footer{
    margin-top: 1.5rem;
    height: 10vh;
}

.setting{
    gap: 1.5rem;
}

/* END FOOTER ZONE*/